@page
@using Microsoft.Extensions.Localization
@using ModelA.Localization
@using ModelA.Web.Pages.ModelA
@model ModelA.Web.Pages.ModelA.IndexModel
@inject IStringLocalizer<ModelAResource> L

@{
}
<h1>ModelA</h1>
<p>@L["SamplePageMessage"]</p>
